<div class="container">
  <div class="box">
   <%= form_for @setting do |setting|%>
    <div class="field">
      <p>Selecciona un pais:</p>
      <%= setting.select :country, options_for_country, prompt: 'Select One', class: 'form-control' %>
    </div>
    <hr>
    <div class="field">
      <p>Selecciona un idioma:</p>
      <%= setting.select :language, options_for_language, prompt: 'Select One', class: 'form-control' %>
    </div>
    <br>

    <%= setting.submit "enviar datos", class:'btn btn-sm btn-info boto' %>

    <% end %>
  </div> <!-- end box -->

   <!--añadido flash-->
   <% if flash.present? %>
      <div class="row">
          <div class="col-sm-12 col-md-6 colmd-offset-3" style="padding:25px 0">
          <%= render partial: "shared/flash_messages", flash: flash %>
      </div>
  <% end %>
  <!--fin flash-->
</div>