<!-- tipo de letra-->
<link href="https://fonts.googleapis.com/css?family=Lobster|Mogra" rel="stylesheet">
<style>
	body {
		font-family: 'Lobster', cursive;
	}
</style>
<!-- enlace a header-->
<%= render"shared/header" %>
<div class="container">
	<div class="row"><!-- busqueda por nombre, genero y año de la pelicula-->
		<div class="col-md-4 col-xs-4" style = "text-align:center;">
			<%= form_tag(root_path, :method => "get", id: "search-name-form")do %>
			<%= text_field_tag :search_name, params[:search_name], placeholder: "Buscar por título" %>
			<%= submit_tag "Buscar" %>
			<% end %>
		</div>
		<div class="col-xs-4 col-md-4" style="text-align:center;">
    	<%= form_tag(root_path, :method => "get", id: "search-year-form") do %>
       <%= text_field_tag :search_year, params[:search_year], placeholder: "Buscar por Año" %>
       <%= submit_tag "Buscar" %>
    	<% end %>
  	</div>
		<div class="col-md-4"><!--busqueda por genero de la pelicula-->
	    <div class="form-inline">
	      <%= form_tag(root_path, :method => "get", id: "search-genre-form") do %>
				<%= select_tag :search_genre, ("<option>Selecciona por género</option><br><option>Drama</option><option>Fantasia</option><option>Comedia</option><option>Animación</option><option>Romántico</option><option>Accion</option><option>Terror</option><option>Musical</option><option>Aventura</option><option>Ciencia ficción</option><option>Suspense</option><option>Bélico</option><option>Western</option>").html_safe, class: 'btn btn-default', :onchange => "this.form.submit()"%>
				<% end %>
	    </div> 
	  </div>
	</div><br><!-- fin row busqueda-->
	<div class="row"><!-- peliculas bbdd-->
		<div class="col-xs-12">
			<% @peliculas.each do |peli| %>
		    <div class="col-md-4 col-xs-6 col-sm-4 peli_container">
		      <div class="row text-center carteles">
		        <div class="col-xs-12">
		          <img class="carteles" src= '<%= peli.url %>' alt="">
		        </div>
		      </div>
		      <div class="row text-center margin_top">
		        <div class="col-xs-12 text_header">
		          <%= peli.name %>
		        </div>
		      </div>
		      <br>
		      <div class="row text-center">
		        <div class="col-xs-12">
		          <%= peli.main_actor %>
		        </div>
		      </div><br>
		      <div class="row text-center">
		        <div class="col-xs-12">
		          <%= peli.year %>
		        </div>
		      </div><br>
		      <div class="row text-center">
		        <div class="col-xs-12">
		          <%= link_to select_movies_path(id: peli.id) do %>
		            <button class="btn btn-info"><%= peli.precio %>&nbsp;€</button>
		          <% end %>
		        </div>
		      </div>
		      <hr>
		    </div>
  		<% end %>
		</div>
	</div><!-- fin pelis bbdd -->
<!-- inicio footer-->
</div>
<%= render "shared/footer" %>
