<div class="container">
  <h2>Crear Pelicula</h2>
  <%=form_for @pelicula do |p| %>
  <div class="field"> Título
    <%=p.text_field :name, placeholder: "Titulo", class:"form-control" %>
  </div>
  <div class="field"> Actor principal
    <%=p.text_field :main_actor, placeholder: "Actor principal", class:"form-control" %>
  </div>
  <div class="field"> Estrellas
    <%=p.text_field :stars, placeholder: "Estrellas", class:"form-control" %>
  </div>
  <div class="field"> Año
    <%=p.text_field :year, placeholder: "Año", class:"form-control" %>
  </div>
  <br>
  <div class="field">
    <%=p.submit "Añadir", class:"btn btn-md btn-danger white pull-right" %>
  </div>
  <% end %>
  <%= link_to "Back", peliculas_path, class:"btn btn-md btn-success" %>
  <%= link_to "Inicio", root_path, class:"btn btn-md btn-info" %>

</div>